body {
  background: linear-gradient(to right, #005792, #00BBF0);
}
.warapper {
  width: 70%;
  margin: auto;
  text-align: center;
}
h1 {
  margin: 20px;
  font-size: 6rem;
  color: rgb(208, 214, 218);
}
.dice-area {
  margin: 0 50px;
  text-align: center;
  display: inline-block;
}
p {
  font-size: 2.5rem;
  color: rgb(208, 214, 218);
}
img {
  width: 320px;
}
/* button */
button {
  width: 100px;
  height: 50px;
  background: linear-gradient(to right, #04a6d3, #005792);
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 45%;
  margin-top: 3%;
}
a {
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}

